html{
  background: url('/background.jpg')bottom center;
  background-size: cover;
  font-size: 10px;
}

.keys{
display: flex;
justify-content: center;
align-items: center;
flex: 1;
min-height: 100vh;
}

.key{
border: solid;
display:flex;
flex-direction: column;
color: white;
text-align: center;
font-size: 55px;
margin: 20px;
width: 80px;
transition: all 0.07s;
background: rgba(0,0,0,0.4);
padding-bottom: 5px;
}

.sound{
  color: #ffc600;
  font-size: 10px;
}

.playing{
  border-color:#ffc600 ;
  transform: scale(1.1);
}
